html {
    height: 100%;
    min-height: 100%;
    position: relative;
}

body {
    background-color: #FAF7F7;
    height: 100%;
    width: 100%;
    position: relative;
    font-family: 'Abel', sans-serif;
}

.forsvind {
    display: none;
}

.hidden {
    /*    display: none;*/
    /*    transform: scale(0);*/
    transform: translateX(-100%);
    opacity: 0;
}

#menu_billede {
    position: relative;
}

#menu_billede:hover {
    transform: scale(0.9);
}

#menu_billede img {
    height: 33px;
}


/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px) {

    /* Show Hamburger */

    /* Toggle show/hide menu on checkbox click */
    #page-nav ul {
        display: none;
    }

    #page-nav input:checked ~ ul {
        display: block;
    }

}

/* Forside */

.portfolio-title-holder {
    display: table;
    table-layout: auto;
    width: 100%;
    color: aliceblue;
    padding: 20px;
}

.portfolio-title-holder .pt-column {
    display: table-cell;
    vertical-align: bottom;
}

.product-filter {
    text-align: right;
    position: relative;
}

.product-filter ul {
    list-style-type: none;
    padding-left: 0;
}

ul,
ol,
a {
    margin-top: 80px;
    margin-bottom: 10px;
    text-decoration: none;
}

.product-filter ul li {
    display: inline-block;
    margin-left: 1px;

}

li {
    font-family: 'Abel', sans-serif;
    font-size: 12px;
    text-transform: none;
    color: #525252;
}

a {
    font-family: 'Abel', sans-serif;
    font-size: 15px;
    color: #5c5c5c;
    text-decoration: none;
    padding: 0px 14px 0px 14px;
}

a:hover {
    color: black;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.metro {
    color: #a59897;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.topbox {
    margin-top: 6px;
}

.box1 {
    display: flex;
    justify-content: center;
    align-content: center;
}

.vertical_box {
    display: flex;
    flex-direction: column;
}

.item {
    width: 120px;
    height: 120px;
    background: white;
    margin: 6px;
    cursor: pointer;
    text-align: center;
    transition: 0.4s;
    opacity: 0.9;
}

.item:hover {
    transform: scale(0.9);
}

.item i {
    font-size: 48px;
    padding: 16px 0px 0px 0px;
}

.item p {
    font-size: 15px;
    font-weight: bold;
    padding: 6px;
}

.i2 {}

.i3 {}

.i4 {
    width: 248px;

}

.i4 p {
    padding: 42px;
    font-size: 1.8rem;
}

.i5 {}

.i6 {}

.i7 {}

.i8 {}

.i9 {}

.i10 {
    width: 252px;
    height: 252px;
}

.i10 p {
    font-size: 1.8rem;

}

.i11 {}

/*Forside slut*/



/* footer */

.bottom_footer {
    clear: both;
    position: relative;
    z-index: -1;
    background-color: #bebebe;
    color: white;
}

.contact_image_facebook {
    position: relative;
    background-size: 100%;
    left: 45vw;
    top: 1vw;

}

.contact_image_insta {
    position: relative;
    background-size: 100%;
    left: 50vw;
    top: -4.3vw;
}

#image_facebook {
    position: relative;
    background-size: 100%;
    left: 45vw;
    top: 1.5vw;
    margin: 0;
}

#image_insta {
    position: relative;
    background-size: 100%;
    left: 50vw;
    top: -3.8vw;
    margin: 0;
}

.bottom_footer p {
    text-align: center;
    margin: 0;
}
